.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  padding-bottom: 1rem;
  border-bottom: 3px solid #580000;
  margin-bottom: 2rem;
}

.sorting button {
  font: inherit;
  color: #000;
  border: 1px solid #580000;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #580000;
  color: #fff;
}
.searchInput{
    background:transparent;
    border:2px solid #580000;
    border-radius: 10px;
  font-size: 18px;


}
.searchInput::placeholder{
  color: #580000;
  font-size: 18px;
}